#buy{
	display:none;
}

#counter{
	margin: 0;
	font-size: 60px;
	display:inline-block;
	text-align: center;
}

#horses{
	display:none;
}

button{
	display:block;
	padding: 2em;
	width: 20%;
	margin-bottom: 1em;
}

#stop{
	display:none;
}

#reset{
	display:inline-block;
	width:10%;
	float: right;
}
